<head>

</head>
<h4 align="right"><a href="/signout">Signout</a></h4>
<h2>Project List</h2>
<i id="status">Loading projects..</i>
<div id="project-list-container"></div>
<br/>
<form action="/<%= userName %>/project/new" method="post">

  <h5>Create New Project</h5>
  <input id="txtProject" name="name" type="text" placeholder="Project Name"/>
  &nbsp; &nbsp;
  <input type="submit" value="Create Project"/>
</form>

<script type"text/javascript" src="/js/dependencies/sails.io.js"></script>

<script src="/js/dependencies/ajax.googleapis.com-ajax-libs-jquery-1.12.4-jquery.min.js"></script>
<script src="/js/dependencies/react.js"></script>
<script src="/js/dependencies/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
<script>
  var prjList = <%- JSON.stringify(projectList) %>;
  if (!prjList.length) {  
    document.getElementById("status").innerHTML = "No Project...";
  }
  else {
    document.getElementById("status").style.display = "none";   
  }
</script>
<script type="text/babel" src="/js/projects.js"></script>

<!--
<script type"text/javascript">
io.socket.get('/<%= userName %>/project', function responseFromServer (projects, response) {
  document.getElementById('txtProject').value="";
  //console.log("The server responded with status " + response.statusCode + " and said: ", projects);

  if (!projects.length) {  
  	document.getElementById("status").innerHTML = "No Project...";
  }
  else {
  	  document.getElementById("status").style.display = "none";
	  projects.forEach(function(project, i) {
	    document.getElementById('projects').innerHTML += (i+1) + '. ' + '<a href="">'  + project.name + '</a></br>';
	  });
  }  
  
});
</script>
-->


