<h3><a href="/signup">Sign Up</a></h3>

<h1>Signin</h1>
<form action="/signin" method="post">

  <label for="userName">Your user name?</label>
  <input name="userName" type="text"/>
  <br/>

  <label for="password">Your safe word?</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
